*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font1--);
    text-decoration: none;
    transition: 0.5s;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    background: var(--color2--);
}
::-webkit-scrollbar-thumb{
    background: var(--maincolor--);
}
:root{
    --font1--: sans-serif;
    --maincolor--:#66fcf1;
    --maincolor2--:#45a29e;
    --color1--:#0b0c10;
    --color2--:#1f2833;
    --color3--:#c5c6c7;
}
body{
    background: var(--color2--);
    max-width: 100%;
    overflow-x: hidden;
}
#mainDiv{
    position: relative;
    width: 100%;
    height: 200vh;
    transition: 0.5s;
}
#bg{
    position: absolute;
    width: 100%;
    height: 100%;
}
#bgDot{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#204e4b 10%, transparent 10%);
    background-size: 15px 15px;
    background-color: var(--color2--);
}
#header{
    position: fixed;
    width: 100%;
    /* background-color: red; */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 999;
}
#title{
    color: var(--maincolor--);
    font-size: 40px;
    cursor: pointer;
    z-index: 400;
    transition: 0.5s;
}
#logo{
    position: absolute;
    width: 100px;
    top: 50px;
    margin-right: 25px;
    transition: 1s;
    z-index: 200;
}
#menu{
    position: fixed;
    left: 20px;
    top: 10px;
    transition: 0.1s;
    z-index: 999;
}
#menu:hover{
    transform: scale(1.1);
}
#about{
    position: absolute;
    right: 2%;
    width: 120px;
    height: 50px;
    color: var(--maincolor--);
    border: var(--maincolor--) 4px solid;
    box-shadow: 5px 5px 10px var(--maincolor2--);
    transition: 0.2s;
}
#about p{
    position: absolute;
    width: 75%;
    font-size: 19px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#about:hover{
    transform: scale(1.1);
    box-shadow: none;
    border: var(--maincolor2--) 4px solid;
}
#sign p{
    position: absolute;
    width: 75%;
    font-size: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#sign{
    position: absolute;
    right: 10%;
    width: 120px;
    height: 50px;
    color: var(--color1--);
    font-weight: 500;
    background-color: var(--maincolor--);
    border: var(--maincolor--) 4px solid;
    box-shadow: 5px 5px 10px var(--maincolor2--);
    transition: 0.2s;
    cursor: pointer;
}
#sign:hover{
    transform: scale(1.1);
    box-shadow: none;
    border: var(--maincolor2--) 4px solid;
    background-color: var(--color1--);
    color: var(--maincolor--);
}
#words{
    position: absolute;
    z-index: 900;
    transition: 0.2s;
}
#words :hover{
    color: var(--maincolor2--);
    text-shadow: none;
}
#words p{
    text-shadow: 5px 5px 50px var(--maincolor2--);
    cursor: pointer;
    z-index: 900;
}
@keyframes p{
    0%{
        color: var(--maincolor--);
        text-shadow: 5px 5px 50px var(--maincolor2--);
    }
    25%{
        color: var(--maincolor2--);
        text-shadow: none;
    }
    50%{
        color: var(--maincolor--);
        text-shadow: 5px 5px 50px var(--maincolor2--);
    }
    75%{
        color: var(--maincolor2--);
        text-shadow: none;
    }
    100%{
        color: var(--maincolor--);
        text-shadow: 5px 5px 50px var(--maincolor2--);
    }
}
#p{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 500px;
    top: 200px;
    animation: p 2s infinite linear;
}
#c{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 630px;
    top: 200px;
}
#t{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 870px;
    top: 200px;
}
#e{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 1020px;
    top: 200px;
}
#c2{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 1170px;
    top: 200px;
}
#h{
    position: absolute;
    color: var(--maincolor--);
    font-size: 170px;
    left: 1320px;
    top: 200px;
}
#info{
    position: absolute;
    color: #45a29d82;
    font-size: 26px;
    top: 460px;
    left: 730px;
    width: 550px;
    height: 50px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 600;
    border-bottom: 3px solid #45a29d7c;
}
@keyframes gd{
    0%{
        top: 800px;
    }
    25%{
        top: 790px;
    }
    50%{
        top: 800px;
    }
    75%{
        top: 790px;
    }
    100%{
        top: 800px;

        }
}
#goDown{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--maincolor--);
    border-radius: 50%;
    transform: rotate(90deg);
    top:800px;
    left: 950px;
    animation: gd 1.5s infinite linear;
}
#goDown img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#menuPage{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: var(--maincolor2--);
    top: 0;
    left: -300px;
    transition: 0.5s;
    border-right: 5px solid var(--maincolor--);
    display: flex;
    justify-content: center;
}
#close{
    position: fixed;
    left: -200px;
    top: 10px;
    opacity: 0;
    transition: 0.5s;
}
#close:hover{
    transform: scale(1.2);
}
#menuPage h1{
    /* position: relative; */
    color: var(--color1--);
    margin-top: 10px;
    font-size: 40px;
    cursor: default;
}
#cat{
    position: absolute;
    top: 150px;
    font-family: var(--font1--);
    font-size: 24px;
    font-weight: 600;
    color: var(--color1--);
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    z-index: 800;
}
#cat:hover{
    background-color: var(--color1--);
    color: var(--maincolor2--);
}
#cat img{
    position: absolute;
    left: 10px;
    transform: rotate(90deg);
}
#contact{
    position: absolute;
    top: 210px;
    font-family: var(--font1--);
    font-size: 24px;
    font-weight: 600;
    color: var(--color1--);
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
#contact:hover{
    background-color: var(--color1--);
    color: var(--maincolor2--);
}
#offer{
    position: absolute;
    top: 270px;
    font-family: var(--font1--);
    font-size: 24px;
    font-weight: 600;
    color: var(--color1--);
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
#offer:hover{
    background-color: var(--color1--);
    color: var(--maincolor2--);
}
#logo2{
    position: absolute;
    width: 100px;
    bottom: 15px;
}
#menuPage h2{
    position: absolute;
    bottom: 110px;
    color: var(--color2--);
    cursor: default;
}
#logo3{
    position: absolute;
    top: 275px;
    left: 500px;
}
#catPage{
    position: absolute;
    top: 150px;
    left: -300px;
    width: 100%;
    height:350px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    transition: 0.2s;
    background-color: var(--color1--);
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}
#showM2{
    position: absolute;
    width: 50px;
    top: 150px;
    left: 9px;
    z-index: 999;
    display: none;
    cursor: pointer;
}
#catPage div{
    width: 200px;
    height: 40px;
    background-color: var(--maincolor2--);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight:600;
    color: var(--color1--);
    transition: 0.2s;
}
#catPage div:hover{
    color: var(--maincolor2--);
    background-color: var(--color1--);
}
#search{
    position: absolute;
    width: 500px;
    height: 45px;
    border-radius: 15px;
    top: 700px;
    left: 740px;
    outline: none;
    background-color: var(--color1--);
    border: none;
    font-size: 30px;
    padding-left: 20px;
    color: var(--maincolor2--);
    border-bottom: 2px solid var(--maincolor--);
    z-index: 900;
}
#search:focus{
    border-bottom: none;
    border-right: 3px solid var(--maincolor--);
    border-radius: 10px;
}
#searchIcon{
    position: absolute;
    width: 40px;
    top: 702px;
    z-index: 901;
    left: 1190px;
    cursor: pointer;
    transition: none;
}
#bigLogo{
    position: absolute;
    width: 1000px;
    top: 820px;
    left:-50px;
    z-index: 100;
}
#aboutPro{
    position: absolute;
    width: 900px;
    height: 900px;
    background-color: var(--maincolor--);
    top: 1000px;
    right: -300px;
    border-radius: 100px;
    transform: rotate(60deg);
    background-image: radial-gradient(#000 10%, transparent 10%);
    background-size: 15px 15px;
    background-color: var(--maincolor2--);
}
#aboutPro p{
    position: absolute;
    font-size: 50px;
    transform: rotate(-60deg);
    right: 370px;
    top: 400px;
    color: var(--color1--);
    width: 500px;
    font-weight: 600;
}
#customersSec{
    position: relative;
    width: 100%;
    height: 90vh;
    top: 1800px;
    display: flex;
    justify-content: center;
    background-color: var(--color2--);
    align-items: center;
}
#customers{
    position: absolute;
    width: 90%;
    height: 85%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#customers div{
    position: relative;
    width: 30%;
    height: 90%;
    border-radius: 6%;
    border-top: 5px solid red;
    background-color: var(--maincolor2--);
    cursor: pointer;
    box-shadow: 10px 5px 10px;
    display: flex;
    justify-content: center;
}
#customers div:hover{
    background-color: var(--maincolor--);
    border-top:5px solid var(--color3--) ;
}
#cusTxt{
    position: absolute;
    font-size: 50px;
    color: var(--maincolor--);
    top: 0;
}
#customers div img{
    width: 200px;
    height: 200px;
}
#customers div pre{
    position: absolute;
    left: 10px;
    top: 300px;
    font-size: 30px;
    color: var(--color1--);
    font-weight: 600;
}
#closeSign{
    position: absolute;
    top: 80px;
    right: 370px;
    cursor: pointer;
    z-index: 999;
    display: none;
}
#inputs{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction:column;
}
#inputs input{
    height: 40px;
    width: 400px;
    margin-top: 50px;
    outline: none;
    border: none;
    border-right: 5px solid white;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 15px;
    background-color: var(--maincolor2--);
    color: white;
    transition: none;
    display: none;
}
#inputs input:focus{
    border-bottom: 4px solid white;
}
#inputs input::placeholder{
    color: white;
    opacity: 0.8;
}
#inputs input:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #aaa;
}
#sub{
    width: 200px;
    height: 40px;
    background-color: var(--maincolor--);
    border-radius: 15px;
    border: 4px solid white;
    font-size: 30px;
    color: var(--color2--);
    font-weight: 600;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgb(133, 127, 116);
}
#sub:hover{
    background-color: var(--maincolor2--);
    transform: scale(1.1);
}
#desktopShop{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#1f2833 40%,#0b0c10);
    top: 2700px;
    display: flex;
    justify-content: center;
}
#deskTxt{
    font-size: 50px;
    color: var(--maincolor--);
    cursor: default;
    margin-left: 20px;
}
#desktopShop div{
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--maincolor2--);
    margin-right: 20px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border-top: 5px solid red;
}
#desktopShop div:hover{
    margin-top: 35px;
}
#desktopShop div img{
    position: absolute;
    width: 200px;
    top: 100px;
}
